<%- include('_header') -%>
<body class="bg-white overflow-hidden">
    <%- include('_navigation') -%>
    <main><!-- Page Content -->
      <!-- Page Content -->
      <section class="pt-lg-14 pt-md-10 pt-7 pb-lg-5 pb-md-5 pb-4 position-relative">
        <% if (locals.session.profile) { %>
        <div class="container">
          <h1>Welcome back, <%=session.profile.firstName%></h1>
        </div>
        <% } %>
        <% if (locals.session.passportError) { %>
        <div class="container">
          <h1>Your account has not been registered yet, please, <a href="/webauth/signup">sign up</a></h1>
        </div>
        <% } %>
      </section>
      <section class="pb-lg-14 pb-md-10 pb-7 position-relative bg-cover" style="background-image: url(../../assets/images/background/gradient-bg.png);">
        <!-- Image -->
        <div class="container">
          <div class="row align-items-center mb-6">
            <div class="col-12 col-lg-7 order-md-2">
              <div class="mb-2 mb-md-0">
                <div class="img-fluid mw-md-130">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 797.11577 598.24466" class="injected-svg DownloadModal__ImageFile-sc-p17csy-5 iIfSkb grid_media" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="553.82356" cy="30" r="30" fill="#ff6584"></circle><g><g><polygon points="634.24197 572.81558 623.43685 573.03878 617.41395 530.54397 633.35953 530.21362 634.24197 572.81558" fill="#ffb6b6"></polygon><path d="M600.1435,591.00002c.05777,2.66672,2.26303,4.78348,4.92986,4.73201l21.48121-.44666,3.53758-7.73036,1.60403,7.61947,8.1055-.16266-2.84236-27.25964-2.82474-.1054-11.52243-.45757-3.7172-.14033,.1602,7.73156-16.91063,12.20406c-1.28593,.92868-2.0339,2.42959-2.00101,4.01552Z" fill="#2f2e41"></path></g><g><polygon points="706.95318 572.81558 696.14806 573.03878 690.12516 530.54397 706.07074 530.21362 706.95318 572.81558" fill="#ffb6b6"></polygon><path d="M672.85472,591.00002c.05777,2.66672,2.26303,4.78348,4.92986,4.73201l21.48121-.44666,3.53758-7.73036,1.60403,7.61947,8.1055-.16266-2.84236-27.25964-2.82474-.1054-11.52243-.45757-3.7172-.14033,.1602,7.73156-16.91063,12.20406c-1.28593,.92868-2.0339,2.42959-2.00101,4.01552Z" fill="#2f2e41"></path></g><path d="M645.13168,246.09588l59.49099-1.65253-3.30506,4.95758,7.52746,7.43637s27.17562,37.18187,18.91298,71.05868c-8.26264,33.87681-3.61084,234.15469-3.61084,234.15469l-48.44378-5.27963,5.37071-202.02149-39.66066,76.01627,11.53191,123.23417-41.27741-.12087-13.22022-133.02847,46.6839-174.75479Z" fill="#2f2e41"></path></g><path d="M396.26902,86.26655c.22394,.55166,.99694,.55161,1.22077-.00016,1.56147-3.8494,3.78448-8.16027,6.20251-11.45472,.38714-.52746-.14657-1.23226-.76183-1.0097l-5.18327,1.87521V43.59077h-1.73515v32.08647l-5.18518-1.87548c-.61526-.22256-1.14891,.48224-.76178,1.0097,2.41814,3.2945,4.64141,7.60554,6.20394,11.45509Z" fill="#3f3d56"></path><path d="M430.25973,119.30389c-.16772,.57127,.43765,1.05196,.95607,.75908,3.61674-2.04334,8.03852-4.03665,11.9809-5.11272,.6312-.17229,.65157-1.05613,.03136-1.26448l-5.22518-1.75505,19.95475-25.12659-1.35878-1.0791-19.95478,25.12664-2.8941-4.69337c-.34339-.55692-1.19961-.33688-1.22448,.31693-.15525,4.08375-1.09529,8.84236-2.26575,12.82866Z" fill="#3f3d56"></path><g><path d="M556.99558,177.92945l32.04131-3.69326,4.66358,18.00947-34.015,2.6994c-.72392,.74967-1.56721,1.4082-2.52551,1.94059-5.21203,2.89558-11.7846,1.01771-14.68018-4.19432-2.89558-5.21203-1.01771-11.7846,4.19432-14.68018,3.32395-1.84664,7.19751-1.74459,10.32148-.0817Z" fill="#ffb6b6"></path><path d="M710.41365,136.39001l-12.5401-19.03003c-2.27997,1.81-4.27997,3.63-5.78998,5.23999l-2.60004,1.79004-8.39996,7.50995-23.78003,21.23004-7.90997,7.07001-8.83002,1.54999-19.48999,3.42999-29.51568,7.94234-21.73432,1.40764c-.01001,.44-.01001,1.10004-.01001,1.92004-.01001,4.26996,.09003,12.90997,.92999,17.62,.29004,1.63995,.67004,2.79999,1.17004,3.14996,.15997,.10999,16.80433-5.08763,17.64429-5.09764,6.77002-.01001,18.08569,1.84764,40.91571-1.12233,13.56-1.78003,25.5-3.40002,30.51996-4.09003l.11005-.01996,3.62994-1.76001,39.85004-19.30005,12.03003-5.82996c-1-8.06-3.07007-16.01001-6.19995-23.60999Z" fill="#754ffe"></path></g><path d="M22.69,27.94094C10.15866,27.94094,0,38.09961,0,50.63095V434.94094H2V185.62094C2,99.64096,71.70001,29.94094,157.67999,29.94094l397.68367-.36367-.36367-1.63633H22.69Z" fill="#3f3d56"></path><ellipse cx="127.70614" cy="83.1512" rx="8.45661" ry="8.64507" fill="#3f3d56"></ellipse><ellipse cx="156.91989" cy="83.1512" rx="8.45661" ry="8.64507" fill="#3f3d56"></ellipse><ellipse cx="186.13364" cy="83.1512" rx="8.45661" ry="8.64507" fill="#3f3d56"></ellipse><g><path d="M333.5136,185.00004c-12.53134,0-22.69001,10.15865-22.69001,22.68999l-.00008,164.31h2v-29.32001c.00005-85.97998,69.7001-155.67996,155.68008-155.67992l144.68367-.3636-.36366-1.63633-279.31-.00013Z" fill="#f2f2f2"></path><g><path d="M417.52738,286.97251c-1.10303,0-2,.89697-2,2v31c-.00002,1.10303,.89696,2,1.99998,2s2-.89697,2-2v-31c.00002-1.10303-.89696-2-1.99998-2Z" fill="#3f3d56"></path><g><ellipse cx="437.12845" cy="304.64297" rx="12.46328" ry="12.20069" fill="#754ffe"></ellipse><path d="M537.04131,300.4691l-67.08496-.00003c-2.30142,0-4.17392-1.8725-4.17392-4.17392s1.8725-4.17392,4.17392-4.17392l67.08496,.00003c2.30142,0,4.17392,1.8725,4.17392,4.17392s-1.8725,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path><path d="M589.39463,314.59623l-119.43829-.00006c-2.30142,0-4.17392-1.8725-4.17392-4.17392s1.8725-4.17392,4.17392-4.17392l119.43829,.00006c2.30142,0,4.17392,1.8725,4.17392,4.17392s-1.8725,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path></g></g><ellipse cx="423.70614" cy="225.1512" rx="8.45661" ry="8.64507" fill="#f2f2f2"></ellipse><ellipse cx="452.91989" cy="225.1512" rx="8.45661" ry="8.64507" fill="#f2f2f2"></ellipse><ellipse cx="482.13364" cy="225.1512" rx="8.45661" ry="8.64507" fill="#f2f2f2"></ellipse></g><path d="M90.35415,169.40551c-1.10303,0-2,.89697-2,2v31c0,1.10303,.89697,2,2,2s2-.89697,2-2v-31c0-1.10303-.89697-2-2-2Z" fill="#3f3d56"></path><g><ellipse cx="109.95523" cy="187.07596" rx="12.46328" ry="12.20069" fill="#754ffe"></ellipse><path d="M209.86809,182.90204h-67.08496c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h67.08496c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path><path d="M262.22142,197.02915h-119.43829c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h119.43829c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path></g><path d="M90.35415,255.40551c-1.10303,0-2,.89697-2,2v31c0,1.10303,.89697,2,2,2s2-.89697,2-2v-31c0-1.10303-.89697-2-2-2Z" fill="#3f3d56"></path><g><ellipse cx="109.95523" cy="273.07596" rx="12.46328" ry="12.20069" fill="#754ffe"></ellipse><path d="M209.86809,268.90204h-67.08496c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h67.08496c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path><path d="M262.22142,283.02915h-119.43829c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h119.43829c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path></g><g><path d="M90.35415,341.40551c-1.10303,0-2,.89697-2,2v31c0,1.10303,.89697,2,2,2s2-.89697,2-2v-31c0-1.10303-.89697-2-2-2Z" fill="#3f3d56"></path><g><ellipse cx="109.95523" cy="359.07596" rx="12.46328" ry="12.20069" fill="#754ffe"></ellipse><path d="M209.86809,354.90204h-67.08496c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h67.08496c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path><path d="M262.22142,369.02915h-119.43829c-2.30142,0-4.17392-1.87249-4.17392-4.17392s1.87249-4.17392,4.17392-4.17392h119.43829c2.30142,0,4.17392,1.87249,4.17392,4.17392s-1.87249,4.17392-4.17392,4.17392Z" fill="#f2f2f2"></path></g></g><path d="M720.55788,278.12233c-1.23688,9.418-65.35004-12.88-73-17-14.31-7.69,.66218,.19717,.66218,.19717l-1.66218-47.19717-1.73432-28.12233s-.96997-7.47003-3-17c-.46002-2.14001-.95001-4.62-1.26001-7.25-.88-7.59003-.20996-16.41003,7.26001-21.75l26.04999-38.84003,12.83002-.75,11.16998,16.95001,12.5401,19.03003c3.12988,7.59998,5.19995,15.54999,6.19995,23.60999,.46997,3.76996,.70996,7.57001,.70996,11.38,0,6.70996-.72998,13.44-2.20996,20.06l-7.8501,22.01001s-.98797,3.72472,2.46009,5.81001c6.99573,4.2308-7.16571,15.8623,1.5,30.26996,0,0-.80994,6.61998,3.04992,7.2,3.86011,.59003,6.80524,17.42641,6.28437,21.39235Z" fill="#754ffe"></path><g><path d="M596.00401,300.74969l19.02355-26.04593,16.39515,8.79141-21.09268,26.82174c.05967,1.04043-.02861,2.10674-.28759,3.17197-1.40851,5.7936-7.24702,9.34844-13.04061,7.93993-5.7936-1.40851-9.34844-7.24702-7.93993-13.04061,.89827-3.69484,3.60109-6.47146,6.94211-7.63851Z" fill="#ffb6b6"></path><path d="M676.34787,136.44544c-4.34035-3.12209-9.42376-5.33038-15.01626-6.31032-7.63304-1.33157-11.91422,9.65173-13.5967,20.36388-.77353,4.96486-1.00211,9.87419-.7359,13.45777l-.44949,3.1346-.26317,16.22693-.62066,37.51486-19.10779,28.28916-8,19-16.34824,20.89685c.31917,.30716,.80674,.75474,1.40771,1.31706,3.13566,2.90002,9.53601,8.68411,13.57087,11.26415,1.40239,.88986,2.50706,1.39554,3.1025,1.27104,.18791-.04094,11.69948-11.12891,12.26716-11.7491,3.8183-4.15637,4.57003-9.7346,16.11486-25.94736,10.51524-14.7559,20.76859-29.42922,24.47277-34.7387l.06808-.09518,16.64483-54.89617,1.51386-4.97616c1.61405-13.62793-4.52548-26.48237-15.02442-34.02332Z" fill="#754ffe"></path></g><path d="M666.91017,137.2677c-.03101-.01196-.0589-.02625-.08972-.03833-.2572,.02136-.51184,.03674-.76068,.03833h.8504Z" fill="#2f2e41"></path><circle cx="674.37449" cy="65.07091" r="29.08812" fill="#ffb6b6"></circle><path d="M634.99198,56.98588c-1.96381-14.10135,3.7617-18.41542,12.71962-19.69336,17.72365-9.21077,21.78317-6.89541,27.40239-5.89577l2.06473-.44424c6.33666-1.36336,8.63549-.78173,14.27119,1.34865,11.887,4.48215,19.69595,15.84776,20.56044,28.52134,.59469,8.73684-2.14357,10.09703,2.9215,17.1923,4.23561,5.92353,.99605,14.23752-6.11481,15.76746l-6.61838,10.00584c-1.6116-2.03703-2.89952-4.17168-4.35971-6.84654-.57596,2.38662-.63983,5.11944-.33935,7.85757-6.58918,3.28205-13.78262,4.64007-21.4128,4.60707-1.22727-1.63552-2.3268-3.45688-2.18161-5.50876-.42365,2.05599-.9421,4.10432-1.03128,6.20003-4.79967-3.09072-8.76696-2.18272-11.9346,2.56779-8.00073-6.63103-8.62737-21.82477,.88289-25.63072,8.04571-3.21985-4.64581-25.76026-13.2997-26.21987-.05571-.00296-2.3604,8.71193-2.44232,8.54811-1.22116-2.44232-.66263-3.78109-2.12275-6.45598-.4796,2.01207-.60941,4.26549-.45108,6.55939-2.06165-.45033-4.14958-1.10924-6.25678-1.98746-2.44392-3.31915-3.38878-6.79646-2.25759-10.49287Z" fill="#2f2e41"></path><path d="M742.85689,580.91171c2.06592,.12937,3.20768-2.43737,1.64468-3.93333l-.1555-.61819c.02047-.04951,.04105-.09897,.06178-.14839,2.08924-4.9818,9.16992-4.94742,11.24139,.04177,1.83859,4.42817,4.17942,8.86389,4.75579,13.54594,.25838,2.0668,.14213,4.17236-.31648,6.20047,4.30807-9.41059,6.57515-19.68661,6.57515-30.02077,0-2.59652-.14213-5.19301-.43275-7.78295-.239-2.11854-.56839-4.2241-.99471-6.31034-2.30575-11.2772-7.29852-22.01825-14.50012-30.98962-3.46197-1.89248-6.34906-4.85065-8.09295-8.39652-.62649-1.27891-1.11739-2.65462-1.34991-4.05618,.39398,.05168,1.48556-5.94866,1.18841-6.3168,.54906-.83317,1.53178-1.24733,2.13144-2.06034,2.98232-4.04341,7.0912-3.33741,9.23621,2.15727,4.58224,2.31266,4.62659,6.14806,1.81495,9.83683-1.78878,2.34682-2.03456,5.52233-3.60408,8.03478,.16151,.20671,.32944,.40695,.4909,.61366,2.96106,3.79788,5.52208,7.88002,7.68104,12.16859-.61017-4.76621,.29067-10.50822,1.82641-14.20959,1.74819-4.21732,5.02491-7.76915,7.91045-11.41501,3.46601-4.37924,10.57337-2.46806,11.18401,3.08332,.00591,.05375,.01166,.10745,.01731,.1612-.4286,.24178-.84849,.49867-1.25864,.76992-2.33949,1.54723-1.53096,5.17386,1.24107,5.60174l.06277,.00967c-.15503,1.54366-.41984,3.07444-.80734,4.57937,3.70179,14.31579-4.29011,19.5299-15.70147,19.76412-.25191,.12916-.49738,.25832-.74929,.38109,1.15617,3.25525,2.07982,6.59447,2.76441,9.97891,.61359,2.99043,1.03991,6.01317,1.27885,9.04888,.29715,3.83006,.27129,7.67959-.05168,11.50323l.01939-.13562c.82024-4.21115,3.10671-8.14462,6.4266-10.87028,4.94561-4.06264,11.93282-5.55869,17.26826-8.82425,2.56833-1.57196,5.85945,.45945,5.41121,3.43708l-.02182,.14261c-.79443,.32289-1.56947,.69755-2.31871,1.11733-.4286,.24184-.84848,.49867-1.25864,.76992-2.33949,1.54729-1.53096,5.17392,1.24107,5.6018l.06282,.00965c.0452,.00646,.08397,.01295,.12911,.01944-1.36282,3.23581-3.26168,6.23922-5.63854,8.82922-2.31463,12.49713-12.25603,13.68282-22.89022,10.04354h-.00648c-1.16259,5.06378-2.86128,10.01127-5.0444,14.72621h-18.02019c-.06463-.20022-.12274-.40692-.18089-.60717,1.6664,.10341,3.34571,.00649,4.98629-.29702-1.33701-1.64059-2.67396-3.29409-4.01097-4.93462-.03229-.0323-.05816-.0646-.08397-.09689-.67817-.8396-1.36282-1.67283-2.04099-2.51246l-.00036-.00102c-.04245-2.57755,.26652-5.14662,.87876-7.63984l.00057-.00035Z" fill="#f2f2f2"></path><path d="M541.30554,597.05466c0,.66003,.53003,1.19,1.19006,1.19h253.28998c.65997,0,1.19-.52997,1.19-1.19,0-.65997-.53003-1.19-1.19-1.19h-253.28998c-.66003,0-1.19006,.53003-1.19006,1.19Z" fill="#ccc"></path><g><path d="M414.0266,140.71614h-33.72142c-2.09368,0-3.79696-1.70328-3.79696-3.79696-4.45851-13.03165-4.37046-25.80093,0-38.32306,0-2.09368,1.70329-3.79696,3.79696-3.79696h33.72142c2.09368,0,3.79696,1.70328,3.79696,3.79696v38.32306c0,2.09368-1.70328,3.79696-3.79696,3.79696Z" fill="#e6e6e6"></path><path d="M387.53027,95.93044c-5.46252,0-9.89077,4.42825-9.89077,9.89076v30.28487c0,1.92125,1.55748,3.47874,3.47874,3.47874h18.648c9.34795,0,16.92596-7.57801,16.92596-16.92596v-23.24967c0-1.92125-1.55748-3.47874-3.47874-3.47874h-25.6832Z" fill="#fff"></path><g><path d="M405.01919,107.06733h-15.78792c-.39803,0-.72189-.32387-.72189-.72189,0-.39803,.32387-.72174,.72189-.72174h15.78792c.39803,0,.72174,.32372,.72174,.72174s-.32372,.72189-.72174,.72189Z" fill="#e6e6e6"></path><path d="M405.01919,122.45988h-15.78792c-.39803,0-.72189-.32387-.72189-.72189,0-.39803,.32387-.72174,.72189-.72174h15.78792c.39803,0,.72174,.32372,.72174,.72174s-.32372,.72189-.72174,.72189Z" fill="#e6e6e6"></path><path d="M413.49115,114.76865h-32.73185c-.39803,0-.72189-.32387-.72189-.72189,0-.39803,.32387-.72174,.72189-.72174h32.73185c.39803,0,.72174,.32372,.72174,.72174s-.32372,.72189-.72174,.72189Z" fill="#e6e6e6"></path></g><path d="M413.87719,128.71847h-13.65783c-.39803,0-.72189-.32387-.72189-.72189,0-.39803,.32387-.72174,.72189-.72174h13.65783c.39803,0,.72174,.32372,.72174,.72174,0,.39803-.32372,.72189-.72174,.72189Z" fill="#e6e6e6"></path></g></svg>
                </div>
                
            </div>
            </div>
            <div class="col-12 col-lg-5 order-md-1">
              <!-- Heading -->
              <h1 class="display-2 mb-5 fw-bold">
                Modern web apps
                shipped faster
              </h1>
              <!-- list -->
              <ul class="list-unstyled fs-3 text-dark
                 mb-6 fw-medium">
                <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                    me-2"></i>Simple to use, beautiful UI design</li>
                <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                    me-2"></i>Complete complex project with ease</li>
                <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                    me-2"></i>An intuitive admin app for developers</li>
              </ul>
              <!-- Buttons -->
              <div class="mb-8 mb-lg-0">
                <a href="/?view=test" class="btn btn-primary me-3 mb-2 mb-lg-0">
                  Get started for Free
                </a>
  
                <a href="#" class="text-nowrap btn-link">
                  Questions? Talk to an expert
                </a>
              </div>
  
            </div>
          </div>
          <!-- Hero Section -->
          <!-- row -->
          <div class="row mt-10">
            <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
              <!-- Heading -->
              <div class="text-center mb-6 px-md-8">
                <span class="ls-md">TRUSTED BY MILLIONS OF DEVELOPERS
                  &amp; THOUSANDS OF ENTERPRISE TEAMS</span>
              </div>
              <!-- row -->
              
            </div>
          </div>
        </div>
      </section>
      <!-- Client logo -->
      <section class="py-lg-20 py-7">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 col-12">
              <!-- featues -->
              <div class="mb-6 mb-lg-0 fs-4">
                <!-- icon -->
                <div class="icon-shape icon-lg bg-primary text-light-primary rounded-circle
                  text-center mb-4"><i class="mdi mdi-flash mdi-24px lh-1"></i></div>
                <h3 class="fw-bold">Easy Setup Process</h3>
                <p>Vivamus sit amet eros facilisis,
                  suscipit libero eget, elementum diam.
                  Praesent quam.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
              <!-- features -->
              <div class="mb-6 mb-lg-0 fs-4">
                <!-- icon -->
                <div class="icon-shape icon-lg bg-primary text-light-primary rounded-circle
                  text-center mb-4"><i class="mdi mdi-layers mdi-24px lh-1"></i></div>
                <h3 class="fw-bold">Quality First</h3>
                <p>Quality first. All projects are backed
                  by our fanatic support &amp; 100%
                  satisfaction guarantee.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
              <!-- features -->
              <div class="mb-6 mb-lg-0 fs-4">
                <!-- icon -->
                <div class="icon-shape icon-lg bg-primary text-light-primary rounded-circle
                  text-center mb-4"><i class="mdi mdi-cellphone mdi-24px
                    lh-1"></i></div>
                <h3 class="fw-bold">Customizable</h3>
                <p>Mauris interdum leo vel eleifend
                  fringilla, nibh elit interdum nisi nec
                  porttitor nunc egestas.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
              <!-- features -->
              <div class="mb-6 mb-lg-0 fs-4">
                <!-- icon -->
                <div class="icon-shape icon-lg bg-primary text-light-primary rounded-circle
                  text-center mb-4"><i class="mdi mdi-infinity mdi-24px lh-1"></i></div>
                <h3 class="fw-bold">Unlimited</h3>
                <p>Excepteur sint occaecat cupidatat non
                  proident, sunt in anim id
                  est laborum velit esse cillum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- image section -->
      <section class="pb-lg-16 pb-8">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
              <!-- image -->
              <div class="mb-4 mb-lg-0 rounded-4 ">
                <div class="img-fluid w-100">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 719.53003 455.36479" class="injected-svg DownloadModal__ImageFile-sc-p17csy-5 iIfSkb grid_media" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M602.46002,35.65002H.67004c.84998-4.82001,2.50995-9.38,4.82996-13.51001C12.91003,8.94,27.04004,0,43.23004,0H559.90002c16.17999,0,30.32001,8.94,37.71997,22.14001,2.32001,4.13,3.98999,8.69,4.84003,13.51001Z" fill="#f2f2f2"></path><path d="M719.53003,453.70001c0,.65997-.53003,1.19-1.19,1.19h-247.29004c-.65997,0-1.19-.53003-1.19-1.19,0-.32001,.12006-.60004,.32001-.81h89.72003c1.90997,0,3.77997-.13,5.62-.38h152.82001c.65997,0,1.19,.52997,1.19,1.19Z" fill="#3f3d56"></path><path d="M442.21848,211.14001H160.9045c-2.61448,0-4.74125-2.69141-4.74125-6s2.12677-6,4.74125-6H442.21848c2.61448,0,4.74125,2.69141,4.74125,6s-2.12677,6-4.74125,6Z" fill="#e6e6e6"></path><path d="M602.46002,35.65002c-.85004-4.82001-2.52002-9.38-4.84003-13.51001-7.39996-13.20001-21.53998-22.14001-37.71997-22.14001H43.23004C27.04004,0,12.91003,8.94,5.5,22.14001c-2.32001,4.13-3.97998,8.69-4.82996,13.51001-.44,2.45996-.67004,4.98999-.67004,7.57996V411.65997c0,23.84003,19.39001,43.23004,43.23004,43.23004H559.90002c4.94,0,9.70001-.84003,14.13-2.38,16.91998-5.85999,29.09998-21.96002,29.09998-40.85004V43.22998c0-2.57996-.22998-5.12-.66998-7.57996Zm-1.33002,376.00995c0,20.86005-15.5,38.11005-35.60999,40.85004-1.84003,.25-3.71002,.38-5.62,.38H104.64001c-56.69,0-102.64001-45.96002-102.64001-102.65002V43.22998c0-2.58997,.23999-5.12,.70001-7.57996,.90002-4.86005,2.65002-9.41003,5.09998-13.51001C14.98999,10.08002,28.17004,2,43.23004,2H559.90002c15.06,0,28.23999,8.08002,35.42999,20.14001,2.45001,4.09998,4.20001,8.64996,5.09998,13.51001,.46002,2.45996,.70001,4.98999,.70001,7.57996V411.65997Z" fill="#3f3d56"></path><g><polygon points="575.92615 216.07954 572.54224 203.67191 587.76978 198.03206 589.46173 209.31174 575.92615 216.07954" fill="#ffb6b6"></polygon><polygon points="575.92615 216.07954 572.54224 203.67191 581.50995 199.88928 578.72382 214.51666 575.92615 216.07954" isolation="isolate" opacity=".1"></polygon><g><path d="M531.34949,322.41742c-2.90851-1.73047-3.06195-6.83838-.34259-11.409,1.19037-2.00073,2.73395-3.56665,4.33728-4.55005l1.59692-2.60913,20.20197-36.21606s8.8432-34.15634,12.44342-38.28615c3.60022-4.12978,8.8056-3.15675,8.8056-3.15675l4.61713,4.10103-16.47906,48.37749-20.33563,28.63821-2.72534,3.98544c-.09937,1.87823-.73907,3.9819-1.92957,5.98254-2.7193,4.57059-7.28156,6.87289-10.19012,5.1424v.00003Z" fill="#ffb6b6"></path><path d="M575.09344,212.53549s6.4256-.24847,10.47974,4.74292-17.18488,61.24887-17.18488,61.24887l-17.29956-.61243,24.00464-65.37936h.00006Z" fill="#6c63ff"></path></g><circle cx="576.77209" cy="189.85429" r="15.79156" fill="#ffb6b6"></circle><polygon points="539.83118 419.11371 529.11548 445.62097 522.91168 439.41714 520.6557 427.57349 529.67944 416.29379 539.83118 419.11371" fill="#ffb6b6"></polygon><polygon points="640.22028 409.526 650.93597 421.93365 645.86017 432.08536 634.58044 430.3934 628.94061 414.60184 640.22028 409.526" fill="#ffb6b6"></polygon><polygon points="568.87634 261.48026 567.46637 284.32159 602.43335 278.11777 600.17743 264.01816 568.87634 261.48026" fill="#ffb6b6"></polygon><path d="M567.18439,284.60358l35.24896-11.56168s12.97162,25.94327-1.12799,42.2988-60.91028,109.41284-60.91028,109.41284l-14.09961-6.76782,20.30341-59.21829,22.55933-54.70642-1.97394-19.45743h.00012Z" fill="#2f2e41"></path><polygon points="601.30542 305.75296 614.841 364.97128 643.04022 410.65396 628.37665 419.11371 588.89777 364.97128 575.92615 323.23648 601.30542 305.75296" fill="#2f2e41"></polygon><path d="M515.57989,425.31754h-9.76758s-11.39737-4.51187-14.06851,0,11.91803,17.30807,11.91803,17.30807c0,0,20.37778,11.45508,23.19772,10.89111s3.94788-7.33179,3.94788-7.33179l3.38391-7.89578-5.07587,1.69196s-6.76782-3.94788-5.07587-10.7157l-8.45978-3.94788h.00006Z" fill="#2f2e41"></path><path d="M648.68005,423.62558v-5.63983l6.55688,5.63983s10.92664,3.94788,2.46686,12.40765c-8.45978,8.45975-19.17548,17.48349-19.17548,17.48349,0,0-16.91949,4.51187-18.04749-.56396s0-7.12973,0-7.12973l6.2038-3.02197,5.63983-14.66357,9.02374,1.12796,7.33179-5.63983,.00006-.00003Z" fill="#2f2e41"></path><path d="M581.56598,192.95621l-5.07587-.56398-9.30573-9.30573s-8.45978,4.51187-8.45978,1.12798c0-15.79155,9.58771-15.22755,17.48352-16.35553,7.89575-1.12798,7.0498-1.40996,9.58771,2.81992,1.16064,1.93445,5.35785,3.10191,5.35785,3.10191,0,0,7.89575-10.71568,11.84369,2.25594,3.94788,12.97163-1.12799,53.01448,2.81995,56.39838,3.94788,3.3839-16.21002,6.76279-14.02686-6.48833s6.13104-33.55453,3.87512-38.06639c-2.25592-4.51187-2.81995-3.3839-2.81995-3.3839,2.79572-1.14146,4.62238,18.96437-5.91864,19.94879l-.28522-9.79707s-1.69196-5.07585-5.07587-1.69196l.00006-.00003Z" fill="#2f2e41"></path><path d="M574.51617,212.41365l16.91949-6.76781,22.55933,67.67807-46.41595-1.69077-4.17926-20.19972s-4.08044-10.51318-.69653-16.71701,11.81287-22.30273,11.81287-22.30273l.00006-.00003Z" fill="#6c63ff"></path><g><path d="M618.54346,325.78308c-3.37201,.28961-6.47443-3.77103-6.92957-9.06995-.19928-2.31952,.14203-4.49167,.87134-6.2254l-.22357-3.05087-4.69946-41.20236s-8.74829-33.703-8.23071-39.1573c.51752-5.45422,1.33484-6.90227,1.33484-6.90227l6.14215,.64035,14.81415,48.91302,.1731,35.12344,.10913,4.82693c1.01428,1.58395,1.72089,3.66611,1.91998,5.9856,.4552,5.29886-1.90942,9.82916-5.28137,10.11877v.00003Z" fill="#ffb6b6"></path><path d="M590.02576,211.00369s5.07587-3.94789,11.27966-2.25594,21.74445,59.7823,21.74445,59.7823l-14.41266,9.58771-18.61145-67.11407Z" fill="#6c63ff"></path></g></g><path d="M296.20544,308.64001h-67.65576c-4.12891,0-7.48828-3.35938-7.48828-7.48828v-6.7666c0-4.12891,3.35938-7.4873,7.48828-7.4873h67.65576c4.12891,0,7.48828,3.3584,7.48828,7.4873v6.7666c0,4.12891-3.35938,7.48828-7.48828,7.48828Z" fill="#6c63ff"></path><path d="M556.20544,87.51111h-67.65576c-4.12891,0-7.48828-3.35938-7.48828-7.48828v-6.7666c0-4.12891,3.35938-7.4873,7.48828-7.4873h67.65576c4.12891,0,7.48828,3.3584,7.48828,7.4873v6.7666c0,4.12891-3.35938,7.48828-7.48828,7.48828Z" fill="#6c63ff"></path><path d="M396.57312,309.14001h-67.65576c-4.40479,0-7.98828-3.58398-7.98828-7.98828v-6.7666c0-4.4043,3.5835-7.9873,7.98828-7.9873h67.65576c4.40479,0,7.98828,3.58301,7.98828,7.9873v6.7666c0,4.4043-3.5835,7.98828-7.98828,7.98828Zm-67.65576-20.74219c-3.30176,0-5.98828,2.68555-5.98828,5.9873v6.7666c0,3.30176,2.68652,5.98828,5.98828,5.98828h67.65576c3.30176,0,5.98828-2.68652,5.98828-5.98828v-6.7666c0-3.30176-2.68652-5.9873-5.98828-5.9873h-67.65576Z" fill="#6c63ff"></path><path d="M479.56149,180.14001H123.56149c-3.30859,0-6-2.69141-6-6s2.69141-6,6-6H479.56149c3.30859,0,6,2.69141,6,6s-2.69141,6-6,6Z" fill="#e6e6e6"></path><path d="M100.89001,82.64001H55.89001c-3.30859,0-6-2.69141-6-6s2.69141-6,6-6h45c3.30859,0,6,2.69141,6,6s-2.69141,6-6.00001,6Z" fill="#e6e6e6"></path><path d="M369.89001,82.64001h-45c-3.30859,0-6-2.69141-6-6s2.69141-6,6-6h45c3.30859,0,6,2.69141,6,6s-2.69141,6-6,6Z" fill="#e6e6e6"></path><path d="M454.89001,82.64001h-45c-3.30859,0-6-2.69141-6-6s2.69141-6,6-6h45c3.30859,0,6,2.69141,6,6s-2.69141,6-6,6Z" fill="#e6e6e6"></path><path d="M400.56149,242.14001H202.56149c-3.30859,0-6-2.69141-6-6s2.69141-6,6-6h198c3.30859,0,6,2.69141,6,6s-2.69141,6-6,6Z" fill="#e6e6e6"></path><path d="M409.18938,373.39584H193.93359c-2.00055,0-3.62791-1.62735-3.62791-3.6279s1.62737-3.6279,3.62791-3.6279h215.25583c2.00055,0,3.6279,1.62735,3.6279,3.6279s-1.62735,3.6279-3.6279,3.6279h-.00003Z" fill="#e6e6e6"></path><path d="M411.1929,21.39583H195.9371c-2.00055,0-3.62791-1.62736-3.62791-3.62791s1.62737-3.62791,3.62791-3.62791h215.25583c2.00055,0,3.6279,1.62736,3.6279,3.62791s-1.62735,3.62791-3.6279,3.62791h-.00003Z" fill="#fff"></path></svg>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 mt-4 mt-lg-0">
              <!-- content -->
              <div class="ps-lg-7">
                <span class=" text-primary ls-md text-uppercase
                  fw-semibold">Build fast, launch faster</span>
                <h2 class="display-4 mt-4 mb-3 fw-bold">Build the sites you want
  
                  with Nemo3 you love</h2>
                <h3>Mauris interdum leo vel eleifend fringilla
                  nibh elit interdc nunc elementum nisi. </h3>
                <div class="mt-5 row">
                  <!-- list -->
                  <div class="col">
                    <ul class="list-unstyled fs-4
                      fw-medium">
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>Earnings </li>
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>Conversion Rates</li>
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>Top security</li>
                    </ul>
                  </div>
                  <div class="col">
                    <!-- list -->
                    <ul class="list-unstyled fs-4
                      fw-medium">
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>High converting </li>
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>Easy to use</li>
                      <li class="mb-2 d-flex"><i class="mdi mdi-check-circle
                          text-success me-2"></i>200+ Integrations</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- divider -->
          <hr class="my-lg-12 my-8">
          <div class="row align-items-center">
            <!-- col -->
            <div class="col-lg-6 col-md-12 col-12">
              <!-- content -->
              <div class="pe-lg-6 ps-lg-6">
                <span class="text-primary ls-md text-uppercase
                  fw-semibold">Bullet point Features
                </span>
                <h2 class="display-4 mt-4 mb-3 fw-bold">The most powerful design for web projects</h2>
                <h3>Donec eget enim volutpat punar turpis at elementum neque.</h3>
                <div class="mt-6">
                  <!-- icon with para -->
                  <div class="d-flex mb-4">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill text-primary mt-1" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                      </svg>
                    </div>
                    <div class="ms-3">
                      <!-- content -->
                      <h3 class="mb-2">5-Star Rating </h3>
                      <p class="mb-0 fs-4">Pellentesque ipsum nulla cursus sodales enim non interdum dignissim quam.
                      </p>
                    </div>
                  </div>
                  <!-- icon with para -->
                  <div class="d-flex mb-4">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-life-preserver mt-1 text-primary" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                      </svg>
                    </div>
                    <!-- content -->
                    <div class="ms-3">
                      <h3 class="mb-2">Dedicated Support</h3>
                      <p class="mb-0 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quas lorem ipsum dolor sit maet cumque!
                      </p>
                    </div>
                  </div>
                  <!-- icon with para -->
                  <div class="d-flex ">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-text-fill text-primary mt-1" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"></path>
                      </svg>
                    </div>
                    <!-- content -->
                    <div class="ms-3">
                      <h3 class="mb-2 lh-1">Quality Documentation <span class="badge bg-warning-soft fs-6 ms-1">coming soon</span></h3>
                      <p class="mb-0 fs-4">Amet consectetur adipisicing elit. Excepturi hic atque dolorem tempore! augue pharetra.
                      </p>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <!-- image -->
              <div class="mt-4 mt-lg-0 rounded-4">
                <div class="img-fluid mw-md-130">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 693 576.89838" class="injected-svg DownloadModal__ImageFile-sc-p17csy-5 iIfSkb grid_media" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M426.43,605.52288H923.81a21.68883,21.68883,0,0,0,21.69-21.69v-287.62a21.34934,21.34934,0,0,0-.76-5.69,21.68267,21.68267,0,0,0-20.93-16H729.54a60.38008,60.38008,0,0,0-8.18,25.01c-2.41,25.69,12.32,49.44,25.5,71.63,13.18,22.18994,25.75,47.99,18.77,72.84-4.72,16.76-17.51,28.89-33.38,36.16a93.66465,93.66465,0,0,1-48.59,7.4,152.11784,152.11784,0,0,1-29.26-6.68c-12.47-4.05-24.65-9.3-36.81-14.61-.01,0-.01,0-.02-.01-.21-.09-.43-.19-.64-.28-9.41-4.11-18.81-8.23-28.35-11.86a173.13923,173.13923,0,0,0-34.62-9.54c-17.99-2.82-36.13-1.8-52.18,6.36-26.16,13.29-40.18,42.01-51.15,69.23C439.55,547.69286,429.62,576.13286,426.43,605.52288Z" transform="translate(-253.5 -161.55081)" fill="#6c63ff"></path><path d="M254.5,495.49285v88.34a21.68883,21.68883,0,0,0,21.69,21.69h82.68c1.43-13.33.23-26.61-5.02-39-11.44-27.02-39.12-43-65.50995-55.83C277.25,505.30284,265.97,500.10283,254.5,495.49285Z" transform="translate(-253.5 -161.55081)" fill="#6c63ff"></path><path d="M341.147,585.12295v.00011a21.69,21.69,0,0,0,21.69,21.69h82.68c1.43-13.33.23-26.61-5.02-39-2.68964-6.35263-8.97221-13.38957-17.15865-20.49782C391.22,519.427,341.147,542.58653,341.147,585.12295Z" transform="translate(-253.5 -161.55081)" fill="#6c63ff"></path><path d="M253.5,583.83245V296.21282a22.7157,22.7157,0,0,1,22.68994-22.68994H923.81006A22.7157,22.7157,0,0,1,946.5,296.21282V583.83245a22.7158,22.7158,0,0,1-22.68994,22.69043H276.18994A22.7158,22.7158,0,0,1,253.5,583.83245Zm22.68994-308.30957A20.71309,20.71309,0,0,0,255.5,296.21282V583.83245a20.7132,20.7132,0,0,0,20.68994,20.69043H923.81006A20.7132,20.7132,0,0,0,944.5,583.83245V296.21282a20.71309,20.71309,0,0,0-20.68994-20.68994Z" transform="translate(-253.5 -161.55081)" fill="#3f3d56"></path><path d="M467.81,604.81307h29.41c5.03-16.93645,12.29-34.889,18.92-51.249,12.72-31.36814,28.97-64.4657,59.3-79.782,12.95-6.54,27.07-9.09434,41.49-8.95524,19.92.18885,40.4,5.53615,59.15,12.62281,7.67,2.89234,15.27,6.07284,22.84,9.323,28.52,12.25506,56.73,25.60342,87.4,29.21135,38.81,4.56207,84.44-12.8017,95.04-50.20295,8.09-28.63486-6.48-58.363-21.76-83.93664-15.28-25.57357-32.36-52.93624-29.56995-82.54513.01-.09936.02-.20874.04-.30811,1.05-10.635,7.4-18.278,16.27-23.178H807.72c-.51,27.621,15.47,52.00174,29.85,76.07448,15.28,25.56367,29.85,55.30177,21.76,83.93663-10.6,37.39131-98.373-6.439-137.183-11.01111-10.96-1.28214,6.45,3.27992-4,0-16.39-5.13862-18.207,41.99167-34.157,35.074-9.93-4.31364-19.87-8.59744-29.94-12.40411-4.17-1.58036-8.43-3.0613-12.74-4.43291-.01,0-.01,0-.02-.01-28.94-9.16392-60.59-12.73213-87.33.51686-.18.08942-.37.1789-.55.26832-30.33,15.3064-46.58,48.404-59.3,79.7721C483.6,549.52877,472.99,577.46034,467.81,604.81307Z" transform="translate(-253.5 -161.55081)" fill="#3f3d56"></path><path d="M468.1296,398.661H276.838a5.91,5.91,0,1,0,0,11.82H468.1296a5.91,5.91,0,1,0,0-11.82Z" transform="translate(-253.5 -161.55081)" fill="#3f3d56"></path><path d="M336.28141,365.52288H276.971a5.91,5.91,0,1,0,0,11.82005h59.31043a5.91,5.91,0,0,0,0-11.82005Z" transform="translate(-253.5 -161.55081)" fill="#3f3d56"></path><polygon points="311.498 549.925 299.374 549.823 294.008 501.972 311.9 502.123 311.498 549.925" fill="#ffb6b6"></polygon><path d="M526.16536,730.7539a5.42722,5.42722,0,0,0,5.3737,5.46759l24.10363.20114,4.21967-8.55322,1.54975,8.59689,9.09483.08249-2.29656-30.66186-3.16422-.21051-12.90631-.88967-4.16389-.27885-.073,8.6754-19.36243,13.133A5.41826,5.41826,0,0,0,526.16536,730.7539Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><polygon points="434.498 549.925 422.374 549.823 417.008 501.972 434.9 502.123 434.498 549.925" fill="#ffb6b6"></polygon><path d="M649.16536,730.7539a5.42722,5.42722,0,0,0,5.3737,5.46759l24.10363.20114,4.21967-8.55322,1.54975,8.59689,9.09483.08249-2.29656-30.66186-3.16422-.21051-12.90631-.88967-4.16389-.27885-.073,8.6754-19.36243,13.133A5.41826,5.41826,0,0,0,649.16536,730.7539Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><path d="M550.04218,328.27133l54.56257-41.99115a11.113,11.113,0,0,0,2.08936-15.451l0,0a11.11305,11.11305,0,0,0-16.01957-1.86316l-55.33993,45.35608-34.78838,26.14255a9.69772,9.69772,0,1,0,4.238,11.70239Z" transform="translate(-253.5 -161.55081)" fill="#ffb6b6"></path><path d="M594.51312,337.92434l-2.405,53.71423,81.68593,9.88431c-6.42764-21.58352-16.96811-51.56194-12.13817-66.58267Z" transform="translate(-253.5 -161.55081)" fill="#a0616a"></path><path d="M640.94613,239.4513H615.78382l-10.80585,18.491L599.829,257.658c-10.035,3.86488-14.035,7.86488-19.57275,18.522v0l-19.46221,16.34289,15,18c10.3606-1.69748,14.09619-9.73972,10.8064-24.50989,0,0-11.346,19.77327,4.99761,29.50105,0,0-2.915,18.32813,0,18.13112s9.62931-3.92716,2.915-.197-5.56414,3.89107-5.34476,5.09967c3.62572,19.97506,6.62572,34.97506,6.62572,34.97506l71,7s-4.09121-42.93822-3.86866-45.37949-1.26951,3.527.22255-2.44127,3.73016-3.73015,1.49207-5.96825,15.38473-4.16554,8.507-14.9208l23-6-12.85623-30.55536c0-10.31684-16.56979-18.68029-26.88663-18.68029h-1.32157Z" transform="translate(-253.5 -161.55081)" fill="#e6e6e6"></path><path d="M667.72255,372.4095c-27.77686,9.55472-52.78369,7.45679-73.92847-10.88662,0,0-5.95062,21.99987-11.97531,18.99987s-3.04714,5.39467-4.702,8.47239c-1.75706,3.26775.28282,8.77982-5.51992,10.65378s-3.623,7.38147-5.5015,11.43467c-13.14593,28.36453-28.15894,68.51467-38.30125,119.43929-10.422,52.329,15,140,15,140l24-2,6-114,27.4426-48.18613s13.48173-7.8498,5.01957-11.83183-2.79293-8.91669,3.37245-7.94936,13.16538-31.03268,13.16538-31.03268c-8.79053,22.09156,46,217,46,217l23-2-13-272Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><path d="M655.87921,193.02913c2.72768,6.79328,10.42287,20.15255,11.46517,27.44032l-.46913-.46134a32.90146,32.90146,0,0,1-3.0409,4.3478,21.133,21.133,0,0,0-7.17646-4.93446,25.29665,25.29665,0,0,1,2.51952,9.70681c-5.00953,4.3623-17.80333,1.73039-24.19538,4.05524-10.28669,3.73213-21.20775,5.06075-31.99106,6.16412-3.82745.394-8.112.63322-10.79413-1.62844s-1.08479-6.44993-2.52779-9.61778c-10.27859-22.56452-.79282-30.70565,7.26657-40.93726,1.77357-2.2516,1.76615-5.61169,3.92425-7.76,2.99438-2.97778,7.58443-3.8937,11.81627-4.62739a6.413,6.413,0,0,1-5.63344-2.78774,5.78522,5.78522,0,0,1,.07665-6.03836c1.51349-2.50916,4.65851-3.96827,7.69266-4.33278a29.21087,29.21087,0,0,1,8.90273.76529,15.93019,15.93019,0,0,1,5.39115,1.72317,4.4118,4.4118,0,0,1,2.29689,4.47155,5.71537,5.71537,0,0,1-3.37953,3.64257,14.96007,14.96007,0,0,1-3.82071,1.04591,29.97248,29.97248,0,0,1,17.58073,3.07719C648.56557,179.96138,653.14221,186.23947,655.87921,193.02913Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><circle cx="365.65488" cy="45.31999" r="24.24409" fill="#ffb6b6"></circle><path d="M642.48373,193.87152c-1.40575,4.24839-5.42275,5.61739-9.13571,6.4712-1.17071.27286-2.34865.52712-3.53742.75336-.43858-.54833-.90509-1.08578-1.39228-1.59373a21.133,21.133,0,0,0-7.17645-4.93444,24.90466,24.90466,0,0,1,2.30568,7.61189q-3.36681.48849-6.771.79841a7.65518,7.65518,0,0,1-8.99073-5.51644c-2.066,3.37852-4.50886,6.56027-7.84955,7.90235a9.49977,9.49977,0,0,1-10.80661-3.233c-2.00068-2.44082-3.115-5.71992-3.91647-8.8846-.94807-3.76219-1.47463-8.096.38677-10.483,1.49124-1.93184,4.06354-1.96653,6.43707-1.79514a76.60624,76.60624,0,0,1,15.46819,2.80431l.42716.96049c-.86726-5.20991,1.01385-10.22255,4.49433-12.00524,2.34761-1.19192,5.1721-.99206,7.91637-.75026a36.07777,36.07777,0,0,1,10.33745,1.99917,19.85675,19.85675,0,0,1,9.36924,7.483C642.4858,185.15834,643.69635,190.20257,642.48373,193.87152Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><path d="M607.92156,171.21174c.2392-.07062-.3806.0201-.16565.02586a1.97524,1.97524,0,0,1-.31728-.04442c-.01775-.00355-.2591-.08058-.09878-.024a1.94632,1.94632,0,0,1-.92482-.60354,8.063,8.063,0,0,1-1.32151-2.3521,8.44655,8.44655,0,0,0-1.81725-3.03,2.07886,2.07886,0,0,0-3.31693.5063c-.47188,1.04446-.04091,2.33135.29594,3.35718a10.4232,10.4232,0,0,0,1.53166,2.96979,9.532,9.532,0,0,0,4.38051,3.21392,9.9705,9.9705,0,0,0,6.26657.17907,1.5144,1.5144,0,0,0,.06046-2.771l-3.4252-1.40205a1.5,1.5,0,1,0-1.20824,2.746l3.4252,1.402.06046-2.771a5.96624,5.96624,0,0,1-1.31112.22419,5.02287,5.02287,0,0,1-1.42015-.05989,6.22675,6.22675,0,0,1-1.31407-.32044,8.56836,8.56836,0,0,1-.80012-.33913q-.14207-.069-.28159-.14326c.0067.00357-.39187-.2285-.217-.11946a8.45879,8.45879,0,0,1-1.24152-.96712,3.41477,3.41477,0,0,1-.37241-.41436,7.94024,7.94024,0,0,1-.54182-.75149,7.7918,7.7918,0,0,1-.79571-1.763,7.89851,7.89851,0,0,1-.22014-.79175,3.25067,3.25067,0,0,0-.07952-.43568c-.1271-.34132.02414.19931-.12208.3472l-.63138.46526a.82441.82441,0,0,1-.7057-.113q-.11218-.15789.04906.05239a4.89556,4.89556,0,0,1,.34278.5172,14.16063,14.16063,0,0,1,.6133,1.29953,14.26035,14.26035,0,0,0,1.42122,2.68412,4.82951,4.82951,0,0,0,5.29011,2.02276,1.51211,1.51211,0,0,0,.85434-1.94168A1.53069,1.53069,0,0,0,607.92156,171.21174Z" transform="translate(-253.5 -161.55081)" fill="#2f2e41"></path><circle cx="316.60904" cy="201.38152" r="71.68503" fill="#fff"></circle><path d="M570.109,435.6176a72.68506,72.68506,0,1,1,72.68506-72.68554A72.76755,72.76755,0,0,1,570.109,435.6176Zm0-143.37011a70.68506,70.68506,0,1,0,70.68506,70.68457A70.76474,70.76474,0,0,0,570.109,292.24749Z" transform="translate(-253.5 -161.55081)" fill="#3f3d56"></path><path d="M560.32972,400.241a7.97167,7.97167,0,0,1-6.37853-3.19024l-19.55677-26.07613a7.97378,7.97378,0,1,1,12.75836-9.56813l12.79471,17.05831,32.86156-49.29168a7.97412,7.97412,0,1,1,13.26974,8.84649L566.96524,396.69a7.97735,7.97735,0,0,1-6.41358,3.54846C560.47768,400.23975,560.4037,400.241,560.32972,400.241Z" transform="translate(-253.5 -161.55081)" fill="#6c63ff"></path><path d="M491.14785,737.25919a1.18647,1.18647,0,0,0,1.19006,1.19h253.29a1.19,1.19,0,1,0,0-2.38h-253.29A1.1865,1.1865,0,0,0,491.14785,737.25919Z" transform="translate(-253.5 -161.55081)" fill="#ccc"></path><path d="M715.41111,365.38421l-23.43325-64.73958a11.113,11.113,0,0,0-14.08624-6.684l0,0a11.11305,11.11305,0,0,0-6.64118,14.69669l26.403,66.50233,14.34006,41.08561a9.69773,9.69773,0,1,0,12.43677-.48307Z" transform="translate(-253.5 -161.55081)" fill="#ffb6b6"></path><path d="M680.147,271.81307l19,34s-43.78731,14.99212-43.89365,12.49606,2.17565-37.13386,2.17565-37.13386Z" transform="translate(-253.5 -161.55081)" fill="#e6e6e6"></path></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- app integration -->
      
      <!-- testimonials  -->
      
      <!-- cta with bg color  -->
      <section class="py-14 bg-gray-200">
        <div class="container">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
              <span class="fs-4 text-warning ls-md text-uppercase
                fw-semibold">get things done
  
              </span>
              <!-- heading  -->
              <h2 class="display-3 mt-4 mb-3 fw-bold">Just try it out! You’ll
                fall in love</h2>
              <!-- para  -->
              <p class="lead px-lg- 8 mb-6">Designed for modern
                companies looking to launch
                a simple, premium and modern website and apps.</p>
              <a href="#" class="btn btn-primary">Try For Free</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('_footer') -%>
    <!-- Scripts -->
    <%- include('_scripts') -%>
</body>
</html>